# .htaccess for the whole server
#
# Copyright 2019 (C) 東大女装子コンテスト実行委員会
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# The main hostname.
SetEnvIf Request_URI .* MAIN_HOSTNAME=www.josocon.u-tokyo.eu.org

# Detect HTTPS
SetEnvIf REDIRECT_HTTPS (.*) HTTPS=$1

# Set global headers
SetEnvIf Request_URI .* "CSP_SANDBOX=allow-forms allow-scripts allow-same-origin allow-popups allow-modals"
SetEnvIf Request_URI .* "CSP_DEFAULT='none'"
SetEnvIf Request_URI .* "CSP_FRAME=https://*.menherausercontent.org"
SetEnvIf Request_URI .* "CSP_WORKER='self'"
SetEnvIf Request_URI .* "CSP_CHILD='self'"
SetEnvIf Request_URI .* "CSP_IMG='self' https://*.menherausercontent.org"
SetEnvIf Request_URI .* "CSP_FONT=https://*.menherausercontent.org"
SetEnvIf Request_URI .* "CSP_STYLE='self'"
SetEnvIf Request_URI .* "CSP_SCRIPT='self'"
SetEnvIf Request_URI .* "CSP_MANIFEST='self'"
SetEnvIf Request_URI .* "CSP_CONNECT='self' https://*.menherausercontent.org"
SetEnvIf Request_URI .* "CSP_FORM_ACTION='self'"
Header always set Content-Security-Policy "sandbox %{CSP_SANDBOX}e; default-src %{CSP_DEFAULT}e; connect-src %{CSP_CONNECT}e; child-src %{CSP_CHILD}e; worker-src %{CSP_WORKER}e; font-src %{CSP_FONT}e; frame-src %{CSP_FRAME}e; style-src %{CSP_STYLE}e; script-src %{CSP_SCRIPT}e; img-src %{CSP_IMG}e; manifest-src %{CSP_MANIFEST}e; form-action %{CSP_FORM_ACTION}e; frame-ancestors 'none'; base-uri 'none'; upgrade-insecure-requests"
Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
Header always set Referrer-Policy "no-referrer"
Header always set X-Frame-Options "DENY"
Header always set X-XSS-Protection "0"
Header always set X-DNS-Prefetch-Control "off"
Header always set X-Content-Type-Options "nosniff"
Header always set Access-Control-Allow-Origin "https://%{MAIN_HOSTNAME}e"
Header always set access-control-allow-headers "Origin, Content-Type, Accept"

DirectoryIndex index.php index.xhtml index.svg index.html

Options -MultiViews
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

AddType text/javascript .mjs
AddType application/manifest+json .webmanifest

AddDefaultCharset utf-8

ErrorDocument 404 /

RedirectMatch 404 ".*\/\..*"
Redirect 404 /_hidden
Redirect 404 /_includes

ServerSignature Off

Header merge Cache-Control "no-transform"

# Rewrite rules

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{ENV:HTTPS} !on
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond expr "! %{HTTP_HOST} == %{ENV:MAIN_HOSTNAME}"
RewriteRule .* https://%{ENV:MAIN_HOSTNAME}%{REQUEST_URI} [R=301,L]

# Create /maint.txt to suspend public operation
RewriteCond %{DOCUMENT_ROOT}/maint.txt -f
RewriteCond %{REQUEST_URI} !^/resources/
RewriteCond %{QUERY_STRING} !^test
RewriteRule .* /maintenance.php [END]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}/index.html !-f
RewriteCond %{REQUEST_FILENAME}/index.xhtml !-f
RewriteCond %{REQUEST_FILENAME}/index.svg !-f
RewriteCond %{REQUEST_FILENAME}/index.php !-f
RewriteRule .* / [END]

# Hide PHP and some other files
RewriteRule \.php$ - [R=404,L]
</IfModule>


# Compress all output labeled with one of the following media types.
#
# https://httpd.apache.org/docs/current/mod/mod_filter.html#addoutputfilterbytype

<IfModule mod_filter.c>
AddOutputFilterByType DEFLATE "application/atom+xml" \
                              "application/javascript" \
                              "application/json" \
                              "application/ld+json" \
                              "application/manifest+json" \
                              "application/rdf+xml" \
                              "application/rss+xml" \
                              "application/schema+json" \
                              "application/geo+json" \
                              "application/vnd.ms-fontobject" \
                              "application/wasm" \
                              "application/x-font-ttf" \
                              "application/x-javascript" \
                              "application/x-web-app-manifest+json" \
                              "application/xhtml+xml" \
                              "application/xml" \
                              "font/eot" \
                              "font/opentype" \
                              "font/otf" \
                              "image/bmp" \
                              "image/svg+xml" \
                              "image/vnd.microsoft.icon" \
                              "text/cache-manifest" \
                              "text/calendar" \
                              "text/css" \
                              "text/html" \
                              "text/javascript" \
                              "text/plain" \
                              "text/markdown" \
                              "text/vcard" \
                              "text/vnd.rim.location.xloc" \
                              "text/vtt" \
                              "text/x-component" \
                              "text/x-cross-domain-policy" \
                              "text/xml"

</IfModule>

