Header always set Access-Control-Allow-Origin "*"
#Header always set Content-Security-Policy "sandbox allow-same-origin; default-src 'none'; connect-src 'self' https://*.menherausercontent.org; style-src 'self'; frame-ancestors 'none'; base-uri 'none'; upgrade-insecure-requests"
Header always set Service-Worker-Allowed "/"

