Header always set Access-Control-Allow-Origin "*"
Header always set Content-Security-Policy "sandbox; default-src 'none'; style-src 'self'; frame-ancestors 'none'; base-uri 'none'; upgrade-insecure-requests"
